[submodule "GameQ"]
	path = GameQ
	url = https://github.com/Austinb/GameQ.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "angular.js"]
	path = angular.js
	url = https://github.com/angular/angular.js
